.navbar .photo {
    border-radius: unset;
    width: 50px;
}

.navbar-wrapper .logo {

}

.navbar-wrapper .logo img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.navbar-wrapper .logo .logo-img {
    display: inline-block;
    padding: 4px;
}

.navbar-wrapper .logo .simple-text {
    color: white;
    font-size: 16px;
}

.sidebar .shop-dropdown {
    border-bottom: 1px solid white;
}

.sidebar .shop-dropdown .shop-name {
    text-align: center;
    color: white;
    font-weight: bold;
}

.max-less-form .row {
    margin-bottom: 10px;
}

.page-item.active .page-link {
    border-color: white;
}

.content tr > td,
.content tr > th {
    white-space: nowrap;
    word-break: keep-all;
}

.content table tbody tr:nth-child(odd) {
    background-color: rgb(37, 38, 59);
}

.content a.operator {
    cursor: pointer;
    padding: 0 5px;
    font-size: 14px;
}

.content a.operator:hover {
    text-decoration: underline;
}